{% block content %}
<body>
    <div class="container">
        <form action="" method="POST" class="contact-form">
            {% csrf_token %}
            <div class="form-control">
                <div class="tag">Full Name</div>
                <input type="text" name="full-name">
            </div>
            <div class="form-control">
                <div class="tag">Email Customer</div>
                <input type="text" name="cusemail">
            </div>
            <div class="form-control">
                <div class="tag">phone</div>
                <input type="text" name="phone">
            </div>
            <div class="form-control">
                <div class="tag">contact</div>
                <input type="text" name="contact">
            </div>
            <div class="form-control">
                <div class="tag">date</div>
                <input type="date" name="date" >
            </div>
            <div class="form-control">
                <div class="tag">Message</div>
                <textarea name="message" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="form-control">
                <input type="submit">
            </div>
        </form>
    </div>
</body>
{% endblock %}